<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ess.erp.mapper.UserMapper">
    <select id="findByEmpId" resultType="com.ess.erp.domain.UserDTO">
        SELECT 
            E.EMP_ID as empId, 
            E.EMP_PW as empPw, 
            E.EMP_NM as empName, 
            R.ROLE_CD as role
        FROM TB_EMP E
        LEFT JOIN TB_EMP_ROLE ER ON E.EMP_ID = ER.EMP_ID
        LEFT JOIN TB_ROLE R ON ER.ROLE_CD = R.ROLE_CD
        WHERE E.EMP_ID = #{empId} AND E.USE_YN = 'Y'
    </select>
</mapper>