<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ess.erp.mapper.StockMapper">

    <select id="getItemStockInfo" resultType="com.ess.erp.domain.ItemDTO">
        SELECT ITEM_CD as itemCd, STOCK_QTY as stockQty 
        FROM TB_ITEM 
        WHERE ITEM_CD = #{itemCd}
    </select>
    
	<select id="selectCurrentStock" resultType="int">
        SELECT IFNULL(STOCK_QTY, 0) 
        FROM TB_ITEM 
        WHERE ITEM_CD = #{itemCd}
    </select>
    
    <insert id="insertItemLog">
        INSERT INTO TB_ITEM_LOG (
        ITEM_CD, INOUT_TYPE, QTY, BEFORE_QTY, AFTER_QTY, REF_NO, EMP_ID, REG_DT
        ) VALUES (
        #{itemCd}, #{inoutType}, #{qty}, #{beforeQty}, #{afterQty}, #{refNo}, #{empId}, NOW()
        )
    </insert>

    <update id="updateItemStock">
        UPDATE TB_ITEM 
        SET STOCK_QTY = STOCK_QTY + #{qty} 
        WHERE ITEM_CD = #{itemCd}
    </update>

    <update id="updateOrderStatus">
        UPDATE TB_ORDER 
        SET STATUS = #{status}
        WHERE ORDER_NO = #{orderNo}
    </update>

</mapper>